<aside>
  <div class="photo-area">
    <!-- <div class="photo-picture">
      <img src="../../assets/profilebg.jpg" alt="">
    </div> -->
    <div class="photo-background">
      <img src="{{users.avatar_url}}" alt="">
    </div>
  </div>
  <div class="username">
    <h2>{{users.name}}</h2>
  </div>

  <div class="stats">
    <div class="followers">
      <img src="../../assets/followersicon.svg" alt="">
      <p>Followers</p>
      <span>{{users.followers}}</span>
    </div>
    <div class="following">
      <img src="../../assets/followingicon.svg" alt="">
      <p>Following</p>
      <span>{{users.following}}</span>
    </div>
    <div class="repo">
      <img src="../../assets/repoicon.svg" alt="">
      <p>Repositories</p>
      <span>{{users.public_repos}}</span>
    </div>
  </div>

  <div class="biography">
    <h2>Biography</h2>
    <p>{{users.bio}}</p>
  </div>

  <div class="date">created April 13 2016</div>
</aside>
